/* MEMBER'S PAGE CSS */

main {
    display: flex;
    justify-content: end;
    /* background-color: var(--color-azul-principal_04); */
}

.container {
    position: relative;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    gap: 50px;
}

.main__container {
    position: relative;
    top: 100px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.main__img {
    width: 300px;
    height: 400px;
    position: sticky;
    top: 200px;
    left: -20px;
    box-shadow: 0 0 10px;
}


.container__title {
    margin-top: 50px;
    width: 330px;
    text-align: center;
    font-size: 45px;
}

.container__form {
    /* background-color: var(--color-body); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    width: 800px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 0 15px var(--color-azul-principal_04);
    padding: 15px;
    box-shadow: 0 0 10px;
    background: rgba(209, 153, 141, 0.6);
    background: -moz-linear-gradient(left, rgba(209, 153, 141, 0.6) 0%, rgba(227, 203, 198, 0.74) 51%, rgba(209, 153, 141, 0.6) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(209, 153, 141, 0.6)), color-stop(51%, rgba(227, 203, 198, 0.74)), color-stop(100%, rgba(209, 153, 141, 0.6)));
    background: -webkit-linear-gradient(left, rgba(209, 153, 141, 0.6) 0%, rgba(227, 203, 198, 0.74) 51%, rgba(209, 153, 141, 0.6) 100%);
    background: -o-linear-gradient(left, rgba(209, 153, 141, 0.6) 0%, rgba(227, 203, 198, 0.74) 51%, rgba(209, 153, 141, 0.6) 100%);
    background: -ms-linear-gradient(left, rgba(209, 153, 141, 0.6) 0%, rgba(227, 203, 198, 0.74) 51%, rgba(209, 153, 141, 0.6) 100%);
    background: linear-gradient(to right, rgba(209, 153, 141, 0.6) 0%, rgba(227, 203, 198, 0.74) 51%, rgba(209, 153, 141, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1998d', endColorstr='#d1998d', GradientType=1);
}

.container h2 {
    width: 60%;
    text-align: center;
    font-weight: 100;
    font-size: 17px;
    font-family: var(--typo-sm);
    letter-spacing: 1px;
}

.form__h3 {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    margin-bottom: 10px;
}

.form__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 340px;
    font-family: var(--typo-sm);
    margin-bottom: 25px;
}

.form__item label {
    display: inline-block;
    width: 140px;
    font-family: var(--typo-bg);
    position: relative;
}

option {
    font-family: var(--typo-sm);
}

.form__item input,
select {
    flex: 0 1 190px;
    max-width: 190px;
    height: 25px;
    background-color: #00000000;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(50, 50, 50);
    letter-spacing: 1.5px;
}

.form__item input:focus {
    background-color: var(--color-azul-principal_06);
    border-bottom: 2px solid var(--color-azul-principal);
}

.item__exception {
    margin: 0 auto;
    width: 93%;
    justify-content: space-evenly;
}

.form__item_cv {
    position: relative;
    left: 29px;
    width: 600px;
    justify-content: space-evenly;
    margin-top: 15px;
}

button {
    margin: 10px 0;
    width: 300px;
    height: 35px;
    box-shadow: 0 0 10px var(--color-azul-principal);
}

button:hover {
    box-shadow: 0 0 0px var(--color-azul-principal);
    background-color: var(--color-azul-principal);
    outline: none;
    border: 1px solid black;
}

.footer {
    position: relative;
    top: 150px;
}